$HFont: 'Poppins', sans-serif; //400,600,700 Font Weight
$PFont: 'Roboto', sans-serif; //400,500 font weight
$MainColor: #F67280;
$SecondaryColor: #6C6F76;

// sugestions
// all paragraph color must be this = #757575;
// all icons color = $MainColor: #F67280;
// main body color is white;
//outline color is #eee;