
/* ===============================
        Left-Side
=================================*/

h1#logo{
    font-family: $HFont;
    font-size: 50px;
    font-weight: 900;
    color: $MainColor;
    text-align: center;
    margin-top: 150px;
}
 
#left-side{
    background-color: #fff;
}
#left-side ul li{
    font-family: $PFont;
    list-style: none;
    font-size: 20px;
    color: #f67280;
}

#left-side ul li i{
    font-size: 35px;
    color: #f67280;
}

/* ==========================================
        Right side
===========================================*/

// .fa {
//     color: #f6727f;
// }

h1#creat{
    font-weight: 700;
    font-family: $HFont;
    margin-top: 80px;
    color: #ffff !important;
    text-align: center;
}
<<<<<<< HEAD
h3#heading{
    font-family: $PFont;
    color: #fff;
}
::placeholder{
    font-family: $PFont;
    font-size: 13px;
    font-weight: 100 !important;
    color: rgba(255, 255, 255, 0.856);
}
=======
>>>>>>> 7ee8b07c3d5d22faf349617ad62d42cbffa9b011

#right-side{
    background-color: $MainColor;
}
/*    inputs    */


/*    Buttons   */
#clear{
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    background: #ffff !important;
    color: #f67280;
    outline: none;
}
#submit{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    background: #ffff !important;
    color: #f67280;
    outline: none;
}

// /* ===============================
//     REsponsive
// ================================*/

// @media only screen and (max-width: 1000px) {
// p#c{
//     display: none;
// }
// }