
.profile-body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: #f67280;
}

/* ==================================
        cover Area
===================================*/

.coverbg{
    background: url("../img/cover.jpg") fixed;
    width:100%;
    height:400px;
    color: #fff;
}

/* =============================
    Profile Name Area
================================ */

.name-data{
    position: relative;
    top: 140px;
    left: 150px;
}
h1.profile-name{
    font-weight: 800;
    color: #fff;
}

h4.name-description{
    color: #fff;
}

/* ======================
    Profile pic
=======================*/

.dot {
    position: absolute;
    top: 250px;
    left: 150px;
    height: 300px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px #fff;
    border-radius: 50%;
    border: 8px solid #eee;
    img{
        width:100%;
        height: 100%;
    }
}
.dot .fa-camera{
    position: absolute;
    top: 238px;
    left: 125px;
    font-size: 30px;
    color: #f67280;
    text-shadow:0px 0px 8px #eee;
    cursor: pointer;
}
/*=============================
    about of the profile 
==============================*/

.num{
    font-weight: 900;
    font-size: 25px;
    color: #f67280;
}
.status{
    margin-left: 20%;
    margin-top: 10px;
}

.status li{
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    float: left;
    padding: 18px;
    border: 1px solid #fff;
    list-style: none;
    box-shadow: 0px 0px 10px #fff;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    color: #f67280;
}

/*================================
            About Area
==================================*/

.about{
    position: relative;
    top: 101px;
}
.about-me-h3{
    color: #f67280;
    font-size: 25px;
}
.about-data{
    margin-top: 40px;
}
.panel-body ul li{
    list-style: none;
}
.panel-body ul li:nth-of-type(odd){
    margin-top: 20px;
    font-weight: 500;
    color: #f67280;
}
.panel-body ul li:nth-of-type(even){
    margin-left: 15px;
    margin-top: 5px;
}

/* =============================
        post area
===============================*/
/* main div */
.creat{
    position: relative;
    top: 140px;
    height: auto;
}
.creat-heading{
    color: #f67280;
    padding: 5px;
    font-size: 25px;
}
.post{
    width: 100%;
}
.upload{
    width: 100%;
    padding: 40px 30px;
}
.post input{
    width: 100%;
    background: #fff;
    border: none;
    text-align: left;
    font-size: 20px;
    color: .5e5e5e;
    outline: none;
}

.post input:hover{
    color: #f67280;
}


// /* ============================
//         Responsive media
// ================================*/

// @media(max-width: 1024px) {


//     /* ==================================
//             cover Area
//     ===================================*/
    
//     .coverbg{
//         background: url("../img/cover.jpg") fixed;
//         width:100%;
//         height:280px;
//         color: #fff;
//     }
    
//     /* ======================
//         Profile pic
//     =======================*/
    
//     .dot {
//         position: absolute;
//         top: 120px;
//         left: 50px;
//         height: 280px;
//         width: 280px;
//     }
//     .dot .fa-camera{
//         position: absolute;
//         top: 218px;
//     }
//     /*=============================
//         about of the profile 
//     ==============================*/
    
//     .num{
//         font-weight: 700;
//         font-size: 18px;
//     }   
//     .status{
//         margin-left: 12%;
//         margin-top: 10px;
//     }
    
//     .status li{
//         width: 83px;
//         height: 80px;
//         margin-left: 15px;
//         padding: 10px;
//         background: #fff;
//     }
    
//     /* =============================
//         Profile Name Area
//     ================================ */
    
//     .name-data{
//         position: relative;
//         top: 120px;
//         left: 90px;
//     }
//     h1.profile-name{
//         font-weight: 600;
//         color: #fff;
//         font-size: 30px;
//     }
    
//     h4.name-description{
//         color: #fff;
//         font-size: 15px;
//     }
    
//     /*================================
//                 About Area
//     ==================================*/
    
//     .about{
//         position: relative;
//         top: 101px;
//         left: -70px;
//     }
    
//     .about-me-h3{
//         color: #f67280;
//         font-size: 20px;
//     }
//     .about-data{
//         margin-top: 40px;
//     }
//     .panel-body ul li{
//         list-style: none;
//     }
//     .panel-body ul li:nth-of-type(odd){
//         margin-top: 18px;
//         font-weight: 600;
//     }
//     .panel-body ul li:nth-of-type(even){
//         margin-left: 15px;
//         margin-top: 5px;
//     }
    
//     /* =============================
//             post area
//     ===============================*/
//     /* main div */
//     .creat{
//         position: relative;
//         top: 142px;
//         width: 50%;
//         left: -85px;
//         height: auto;
//     }
//     .creat-heading{
//         color: #f67280;
//         padding: 5px;
//         font-size: 20px;
//     }
//     .post{
//         width: 100%;
//     }
//     .upload{
//         width: 100%;
//         padding: 20px 20px;
//     }
//     .post input{
//         width: 100%;
//         font-size: 15px;
//     }
    
//       }
    
//       /* ===============================
//         mobile responsive
//     ==================================*/
    
    
//     @media(min-width: 375px) {
        
    
//     /* ==================================
//             cover Area
//     ===================================*/
    
//     .coverbg{
//         background: url("../img/cover.jpg") fixed;
//         width:100%;
//         height:280px;
//         color: #fff;
//     }
    
//     /* ======================
//         Profile pic
//     =======================*/
    
//     .dot {
//         position: absolute;
//         top: 120px;
//         left: 60px;
//         height: 250px;
//         width: 250px;
//     }
//     .dot .fa-camera{
//         position: absolute;
//         top: 190px;
//         left: 105px;
//     }
//     /*=============================
//         about of the profile 
//     ==============================*/
    
//     .num{
//         font-weight: 700;
//         font-size: 18px;
//     }   
//     .status{
//         position: relative;
//         top: 70px;
//         left: 08px;
//     }
    
//     .status li{
//         width: 83px;
//         height: 80px;
//         margin-left: 22px;
//         margin-bottom: 18px;
//         padding: 10px;
//         background: #fff;
//     }
    
//     /* =============================
//         Profile Name Area
//     ================================ */
    
//     .name-data{
//         position: relative;
//         top: 80px;
//         left: 90px;
//     }
//     h1.profile-name{
//         font-weight: 600;
//         color: #fff;
//         font-size: 30px;
//     }
    
//     h4.name-description{
//         color: #fff;
//         font-size: 15px;
//     }
    
//     /*================================
//                 About Area
//     ==================================*/
    
//     .about{
//         position: relative;
//         top: 70px;
//         left: 12px;
//         width: 330px;
//     }
    
//     /* =============================
//             post area
//     ===============================*/
//     /* main div */
//     .creat{
//         position: relative;
//         top: 50px;
//         left: 12px;
//         width: 330px;
//         height: auto;
//     }
//     .creat-heading{
//         color: #f67280;
//         padding: 5px;
//         font-size: 20px;
//     }
//     .post{
//         width: 100%;
//     }
//     .upload{
//         width: 100%;
//         padding: 20px 20px;
//     }
//     .post input{
//         width: 100%;
//         font-size: 15px;
//     }
    
    
//     }