div.MainForm{
    height: auto;
    background-color: white;
}
div.Left-Content{
    background-color: $MainColor;
    height: 500px;
}
div.Right-Content{
    background-color: white;
    height: 500px;
}