@import "./variables/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,900|Roboto:400,500');
@import './components/LoginPage.scss';
@import './components/SocialIcon.scss';
@import './components/SignUpForm.scss';
@import './components/creatpost.scss';
@import './components/profile';
@import './components/LikeCounter';

*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}